<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table class="pure-table pure-table-bordered" id="customers">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Birth date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.birth_date.strftime("%Y-%m-%d") if customer.birth_date %></td>
        <td>
          <button class="pure-button editer" customer-id="<%= customer.id %>">Edit</button>
          <button class="pure-button deleter" customer-id="<%= customer.id %>">Delete</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button class="pure-button" id="new_customer">New Customer</button>

<%= render partial: "form" %>